[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Hidden=false
Name=PDF-Shrink
Exec=pdfshrink %F
TryExec=pdfshrink
MimeType=application/pdf
Icon=applications-engineering
